header {
    width: 100%;
    height: 80px;
    padding: 1rem;
    background: transparent;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 200px;
    height: 80%;
}

header select {
    background: transparent;
    color: inherit;
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: .4rem; 
}

header select option {
    background-color: var(--black);
}

header button {
    background-color: var(--red);
    color: inherit;
    border: none;
    padding: .5rem;
    border-radius: 5px;
    min-width: 90px;
    margin-left: 1rem;
}

.container {
    width: 100vw;
    height: calc(100vh - 5rem);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 600px;
    text-align: center;
}

form h1 {
    font-size: 3rem;
}

form h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0 2rem;
}

form #sign {
    height: 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
}

form #sign input,
form #sign button {
    height: 100%;
}

form #sign input {
    width: 90%;
    font-size: inherit;
    border: 1px solid var(--grey-200);
    border-radius: 3px 0 0 3px;
}

form #sign input:focus {
    outline: 1px solid var(--blue);
}

form #sign button {
    color: inherit;
    background-color: var(--red);
    border: none;
    border-radius: 0 3px 3px 0;
    padding: .5rem;
    width: 200px;
    font-size: inherit;
}

.background {
    background-image: url(../img/bg-index.webp);
    background-size: cover;

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    filter: blur(1px) brightness(.3);
    -webkit-box-shadow: inset 0px 0px 90px 85px rgba(0,0,0,0.85); 
    box-shadow: inset 0px 0px 90px 85px rgba(0,0,0,0.85);
}