form {
    max-width: 600px;
    text-align: center;
    padding: 1em;
}

form h1 {
    font-size: 3em;
}

form h4 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 1em 0 2em;
}

form #sign {
    height: 3em;
    margin-top: 1em;
    font-size: 1.5em;

    display: flex;
    justify-content: center;
}

form #sign input,
form #sign button {
    height: 100%;
}

form #sign input {
    width: 90%;
    font-size: inherit;
    border: 1px solid var(--grey-200);
    border-radius: 3px 0 0 3px;
    padding-left: 1em;
}

form #sign button {
    color: inherit;
    background-color: var(--red);
    border: none;
    border-radius: 0 3px 3px 0;
    padding: .5em;
    width: 200px;
    font-size: inherit;
}

@media (max-width: 720px) {
    form #sign button {
        padding: 0;
        width: 130px;
    }

    form #sign {
        font-size: 1em;
    }
}